<!DOCTYPE html>
<html>
  <head>
    <title>Questionnaire</title>
  </head>
  <body>
    <h1> If you're reading this, it's already over </h1>
    <h2> Website created by GGG Rendition #2</h2>
      <form action="/auth" method="post">
        <input type="radio" id = "huey" name="username">
        <label for="huey">Gaslighting</label>
        <input type="radio" id = "huey" name="username">
        <label for="huey">Gatekeeping</label>
        <input type="radio" id = "huey" name="username">
        <label for="huey">Girlbosses</label>
        <input type="radio" id = "huey" name="username">
        <label for="huey">Mansplaining</label>
        <input type="radio" id = "huey" name="username">
        <label for="huey">Manipulating</label>
        <input type="radio" id = "huey" name="username">
        <label for="huey">Malewives</label>
        <input type="submit" name="sub1">
      </form>
      <br>
  </body>
</html>